body
	color: $main-color
	letter-spacing: 0.1em

.row
	margin-left: 0
	margin-right: 0
	margin-bottom: 69px

.img
	+flex(column, flex-end, flex-start)
	width: 371px
	height: 360px
	margin: 0
	padding: 20px
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	background-color: gray
	cursor: pointer

.img-1
	background-image: url("../../src/img/img-1.jpg")

.img-2
	background-image: url("../../src/img/img-2.jpg")

.img-3
	background-image: url("../../src/img/img-3.jpg")

.img-4
	background-image: url("../../src/img/img-4.jpg")

.img-5
	background-image: url("../../src/img/img-5.jpg")

.img-6
	background-image: url("../../src/img/img-6.jpg")

.img-7
	background-image: url("../../src/img/img-7.jpg")

.img-8
	background-image: url("../../src/img/img-8.jpg")

.img-9
	background-image: url("../../src/img/img-9.jpg")

.img-10
	background-image: url("../../src/img/img-10.jpg")

.img-11
	background-image: url("../../src/img/img-11.jpg")

.img-12
	background-image: url("../../src/img/img-12.jpg")