#show
	display: none

.btn
	display: inline-block
	padding: 10px 20px
	background-color: lightgray
	border: 1px solid gray
	border-radius: 10px
	cursor: pointer
	margin: 10px 20px

.search
	position: fixed
	width: 60%
	visibility: hidden
	background-color: white
	border: 1px solid black
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	z-index: 66
	header
		text-align: center
		padding: 20px 0
		border-bottom: 1px solid gray
	.content
		height: 500px
	footer
		text-align: right
		bottom: 0
		padding: 20px 0
		border-top: 1px solid gray

#close-btn
	cursor: pointer

#backdrop
	position: fixed
	width: 100%
	height: 100vh
	background: gray
	visibility: hidden
	opacity: 0.5
	z-index: 50
	top: 0
	left: 0

#show
	&:checked ~#backdrop
		visibility: visible
	&:checked ~.search
		visibility: visible
