.header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-bottom: 30px;
}

@media (max-width: 708px ) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
	}
}

@media (max-width: 420px ) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
	}
}


.header a {
	text-decoration: none;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.nav {
	/*display: inline-block;*/
	margin: 10px 10px;
	padding: 10px;
	background-color: gray;
	color: white;
}