
@media (min-device-width: 358px)
	.container
		+flex(column, flex-start, stretch)

	.top-bar
		color: black
		background-color: green

.top-bar
	color: $top-bar-color
	background-color: $top-bar-backgr