

.container
	+flex(column, flex-start, stretch)
	visibility: hidden

@media (max-width: 400px)
	.container
		visibility: visible

.top-bar
	color: $top-bar-color
	background-color: $top-bar-backgr



