.content
	margin-left: 30%
	width: auto

.welcome
	+flex(column, center, stretch)
	height: 100vh
	padding: 0 200px 0 100px
	color: $corporate-color-1
	background: $background-color
	.w-descr
		a
			border-bottom: 1px solid black
