.contacts
	width: 100%
	color: $contacts-clr
	background-color: $contacts-backgr-clr
	a
		color: $contacts-clr

.contacts-form-wrap
	+flex(row, flex-start, flex-start)
	.content-title
		font-size: 20px
	.input-cont
		color: $contacts-clr
		padding: 15px
		background-color: $contacts-backgr-clr-2
		border: 1px solid $contacts-border-clr
		border-radius: 6px
		resize: none
	.input-cont:focus
		border: 2px solid $contacts-btn-clr-1
		outline: none

.contacts-form-wrap
	#subject
		width: 600px
		height: 140px

.name-email-flex
	+flex(row, space-between, flex-start)

.input-cont-wrap
	width: 44%
	input
		width: 100%

.contacts-form
	padding-right: 40px
	.input-cont
		margin: 20px 0
	.send-msg
		+btn($contacts-btn-clr-1, $contacts-btn-clr-2, $contacts-btn-f-size)
		background-color: $contacts-backgr-clr

.contacts-info
	padding-left: 40px
	border-left: 1px solid $contacts-border-clr
	a
		+d-link($contacts-clr, $corporate-color-1)

	
.social
	i
		padding-right: 15px
	a
		border-bottom: none
