.footer
	width: 100%
	padding-top: 120px
	padding-bottom: 120px
	color: $footer-clr
	background-color: $footer-backgr-clr
	a
		+d-link($footer-clr, $corporate-color-1)
	span
		padding: 0 10px
		border-left: 1px solid $footer-clr
		&:first-child
			padding-left: none
			border-left: none
